<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>959525938703-ekpjfoqdu0cq6tojkgb6ocb7lgcmv413.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.959525938703-ekpjfoqdu0cq6tojkgb6ocb7lgcmv413</string>
	<key>API_KEY</key>
	<string>AIzaSyDr6Vi6_eKJyTX99aTk_I2_sQEX4uQl4_g</string>
	<key>GCM_SENDER_ID</key>
	<string>959525938703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sys.FirstProj</string>
	<key>PROJECT_ID</key>
	<string>ios-app-1601969197270</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-app-1601969197270.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959525938703:ios:65e887dbc440665194657a</string>
	<key>DATABASE_URL</key>
	<string>https://ios-app-1601969197270.firebaseio.com</string>
</dict>
</plist>